@import "tailwindcss";

@layer base {
    h1 {
        @apply text-3xl font-semibold tracking-tight leading-tight;
    }

    h2 {
        @apply text-2xl font-semibold tracking-tight leading-tight;
    }

    h3 {
        @apply text-xl font-semibold leading-snug;
    }

    h4 {
        @apply text-lg font-medium leading-snug;
    }

    p {
        @apply text-base leading-relaxed;
    }
}